<div class="card mb-5 mb-lg-0">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{tagclass.plan}}</h5>
        <h6 class="card-price text-center">${{tagclass.price}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul">
        <li *ngFor="let item of tagclass.features" [ngClass]="{'text-muted':!item.isEnable,'fw-bold':item.isTrue}"><span class="fa-li"><i [ngClass] = "{'fa fa-times':!item.isEnable,'fa fa-check':item.isEnable}" ></i></span>{{item.name}}</li> 
        </ul>
        <div class="d-grid">
          <a href="#" class="btn btn-primary text-uppercase">Button</a>
        </div>
      </div>
</div>